/target
/classes
/checkouts
/src/gen

profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/

node_modules/
resources/public/js


*.iml
*.jar
*.log
.shadow-cljs
.lein-*
.nrepl-*
.DS_Store

datahike-server.iml

/.store
resources/config.edn
.clj-kondo
.dir-locals.el
.cpcache/
.lsp
.calva