{:deps {org.clojure/clojure     {:mvn/version "1.11.0"}
        io.replikativ/datahike  {:mvn/version "0.4.1490"}
        buddy/buddy-auth        {:mvn/version "3.0.1"}
        ring/ring-core          {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}
        metosin/reitit          {:mvn/version "0.5.17"}
        ring-cors/ring-cors     {:mvn/version "0.1.13"}
        com.taoensso/timbre     {:mvn/version "5.2.1"}
        environ/environ         {:mvn/version "1.2.0"}
        mount/mount             {:mvn/version "0.1.16"}
        metosin/spec-tools      {:mvn/version "0.10.5"}}

 :paths ["src/clj"]

 :aliases {:kaocha {:extra-paths ["test"]
                    :extra-deps  {clj-http/clj-http   {:mvn/version "3.12.3"}
                                  lambdaisland/kaocha {:mvn/version "1.64.1010"}}
                    :main-opts   ["-m" "kaocha.runner"]
                    :exec-fn     kaocha.runner/exec-fn
                    :exec-args   {}}

           :test {:extra-paths        ["test"]
                  :extra-deps         {clj-http/clj-http      {:mvn/version "3.12.3"}
                                       org.clojure/test.check {:mvn/version "1.1.1"}
                                       lambdaisland/kaocha {:mvn/version "1.64.1010"}}}

           :repl {:extra-deps {cider/cider-nrepl           {:mvn/version "0.27.4"}
                               nrepl/nrepl                 {:mvn/version "0.9.0"}
                               org.clojure/tools.namespace {:mvn/version "1.2.0"}}
                  :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :ffix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                  :main-opts ["-m" "cljfmt.main" "fix"]}

           :build {:deps       {io.github.clojure/tools.build   {:git/tag "v0.8.1" :git/sha "7d40500"}
                                slipset/deps-deploy             {:mvn/version "0.2.0"}
                                borkdude/gh-release-artifact    {:git/url "https://github.com/borkdude/gh-release-artifact"
                                                                 :sha     "a83ee8da47d56a80b6380cbb6b4b9274048067bd"}
                                babashka/babashka.curl          {:mvn/version "0.1.2"}
                                babashka/fs                     {:mvn/version "0.1.4"}
                                cheshire/cheshire               {:mvn/version "5.10.2"}
                                com.google.cloud.tools/jib-core {:mvn/version "0.21.0"}}
                   :ns-default build}}}
