;; shadow-cljs configuration
{:source-paths
 [ "src/cljs"
   "src/cljs/test"]

 :dependencies [[reagent "1.1.1" exclusions [cljsjs/react cljsjs/react-dom]]
                [clj-commons/secretary "1.2.4"]
                [venantius/accountant "0.2.5"]
                [com.cognitect/transit-cljs "0.8.280"]
                [cljs-ajax "0.8.4"]]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:main {:init-fn datahike-dashboard.core/init!}}
        :devtools {:after-load datahike-dashboard.core/reload!
                   :http-root "resources/public"
                   :http-port 8080}}}}
