#kaocha/v1 {:tests [{:id :unit
                     :skip-meta [:integration]}
                    {:id :integration
                     :focus-meta [:integration]}]
            :reporter kaocha.report/dots}
