version: 2.1

orbs:
  tools: replikativ/clj-tools@0
  docker: circleci/docker@2.0.1

jobs:
  build:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Build
          command: clj -T:build uber
          no_output_timeout: 5m
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - replikativ/target
  deploy:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /home/circleci
      - docker/check
      - run:
          name: Build datahike-server container image
          command: |
            cd /home/circleci/replikativ
            VERSION=$(git rev-list HEAD --count)
            docker build -t replikativ/datahike-server:${VERSION} .
      - run:
          name: Deploy Snapshot to Docker Hub
          command: |
            cd /home/circleci/replikativ
            VERSION=$(git rev-list HEAD --count)
            docker push replikativ/datahike-server:${VERSION}

workflows:
  build-test-and-deploy:
    jobs:
      - tools/setup:
          context: dockerhub-deploy
          setup_cljs: false
      - tools/format:
          context: dockerhub-deploy
          requires:
            - tools/setup
      - tools/unittest:
          context: dockerhub-deploy
          requires:
            - tools/setup
      - tools/integrationtest:
          context: dockerhub-deploy
          requires:
            - tools/setup
      - build:
          context: dockerhub-deploy
          requires:
            - tools/setup
      - deploy:
          context:
            - clojars-deploy
            - dockerhub-deploy
          filters:
            branches:
              only: main
          requires:
            - tools/setup
            - tools/format
            - tools/unittest
            - tools/integrationtest
            - build
