{:databases [{:store {:backend :mem
                      :id "sessions"}
              :schema-flexibility :read
              :keep-history? false}
             {:store {:backend :file
                      :scope "test.datahike.io"
                      :path "/tmp/dh-users"}
              :keep-history? true
              :schema-flexibility :write}]
 :server {:port  3333
          :join? false
          :loglevel :debug
          :token :neverusethisaspassword}}
